{{ 'section-accordion.css' | asset_url | stylesheet_tag }}

<section id="accordion-{{ section.id }}" class="block-faq">
  <div class="page-width">
    {%- for block in section.blocks -%} 
      <div class="faq-item">
        {%- if block.settings.title != blank -%}
          <button class="accordion"><h4>{{ block.settings.title | escape }}</h4></button>
        {%- endif -%}
        {%- if block.settings.text != blank -%}
          <div class="panel">
             {{ block.settings.text }}
          </div> 
        {%- endif -%}
      </div>
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "t:sections.accordion.name",
  "class": "shopify-section spaced-section spaced-section--full-width",
  "blocks": [
    {
      "type": "text",
      "name": "Accordion Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Question",
          "label": "Heading / Question"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Lorem ipsum</p>",
          "label": "Copy / Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordion",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}


{% javascript %}
	jQuery(document).ready(function($) {
        $("section.block-faq .faq-item").each(function() {
            $(this).click( function(e) {
                e.preventDefault();
                $(this).siblings().removeClass('active');
                $(this).toggleClass('active');
            });
        });
	});
{% endjavascript %}

