{{ 'section-accordion.css' | asset_url | stylesheet_tag }}

<section id="accordion-{{ section.id }}" class="block-faq">
  {%- for block in section.blocks -%} 
  	<div class="faq-item">
      <div class="page-width">
      <div class="slide-text-wrap">
        {%- if block.settings.title != blank -%}
          <button class="accordion"><h4>{{ block.settings.title | escape }}</h4></button>
        {%- endif -%}
        {%- if block.settings.text != blank -%}
       	  <div class="panel">
             {{ block.settings.text }}
          </div> 
        {%- endif -%}
      </div>
      </div>
    </div>
  {%- endfor -%}
</section>



{% stylesheet %}

{% endstylesheet %}

{% javascript %}
	jQuery(document).ready(function($) {
		$('.slideshow').slick({
            adaptiveHeight: false,
            autoplay: true,
            autoplaySpeed: 5000,
            arrows: true,
            dots: true,
            fade: true,
            slidesToScroll: 1,
            slidesToShow: 1,
            responsive: [
                {
                    breakpoint: 1804,
                    settings: {
                        arrows: true,
                        dots: true,
                        slidesToShow: 1,
                    }
                }
            ]
        });
	});

{% endjavascript %}

