.block-faq {
display: block;
overflow: hidden;
padding: 0 0 100px 0;
min-height: 250px;
background: #fff
}
.block-faq .faq {
width: 100%
}
.block-faq .faq-item {
position: relative;
transition: all 500ms linear;
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
  
  border-bottom:1px solid #000;
}

.block-faq .faq-item.active {
transition: all 500ms linear;
-webkit-transform: rotate(0deg);
transform: rotate(0deg)
}


.block-faq .faq-item .accordion {
  background:none;
position: relative;
cursor: pointer;
width: 100%;
text-align: left;
display: -webkit-flex;
display: flex;
-webkit-align-items: center;
align-items: center;
border: none;
outline: none;
transition: 0.4s;
margin-bottom: 10px;
border: none;
color: #fff;
font-size: 18px;
line-height: 27px;
border-radius: 0px;
max-height: 140px;
}
@media (max-width:1024px) {.block-faq .faq-item .accordion {
max-height: inherit
}

}
.block-faq .active,.block-faq .accordion:hover,.block-faq button:focus {
border: none
}
.block-faq .panel {
padding: 0;
display: block;
overflow: hidden;
margin-bottom: 10px;
width: 100%;
border-radius: 0;
max-height: 0;
transition: all 500ms linear
}
.block-faq .active {
margin-bottom: 0;
-webkit-animation: none;
animation: none;
border-radius: 5px 5px 0 0
}
.block-faq .active .panel {
max-height: 1000px;
transition: all 500ms linear
}
